//
// Components / Quotes
// ========================================


.c-quotes {
  position: relative;
  @include section-margins;
}


.c-quotes__title {
  margin-bottom: var(--space-40);
  padding: 0 var(--space-16);

  @include typo-sectionTitle;
}


.c-quotes__bg {
  z-index: -1;
  @include image-contain;
}


.c-quotes__quote-list {
  margin-bottom: var(--space-48);

  // Override Swiper setting
  align-items: stretch !important;

  .swiper-slide {
    height: auto;
  }
}





// Items
// ========================================


.c-quotes__quote-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--space-12);

  text-align: center;
}


.c-quotes__quote-img {

  opacity: 1;
  transition: opacity 0.4s ease-out;

  .swiper-slide:not(.swiper-slide-active) & {
    opacity: 0;
  }
}


.c-quotes__text {
  font-size: var(--fontSize-24);

  opacity: 1;
  transition: opacity 0.4s ease-out;

  .swiper-slide:not(.swiper-slide-active) & {
    opacity: 0.25;
  }
}


.c-quotes__author {
  margin-top: var(--space-24);
  margin-bottom: var(--space-20);

  opacity: 1;
  transition: opacity 0.4s ease-out;

  .swiper-slide:not(.swiper-slide-active) & {
    opacity: 0;
  }
}


.c-quotes__name {
  margin-bottom: var(--space-2);
  font-family: var(--font-display);
  font-size: var(--fontSize-20);
  color: var(--color-accent);
}


.c-quotes__media {
  @include typo-legend;
}


.c-quotes__link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-32);
  height: var(--space-32);

  color: var(--color-base);
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-accent);
  border-radius: 999px;

  transition: all 0.2s ease-out;

  &:hover {
    color: var(--color-bg-primary);
    background-color: var(--color-accent);
  }

  opacity: 1;
  transition: opacity 0.4s ease-out;

  .swiper-slide:not(.swiper-slide-active) & {
    opacity: 0;
  }
}
